// Specific CSS for your home-page

.carousel .item {
  max-height: 690px;
  max-width: 690px;
}

.carousel-item{
  max-height: 690px;
  max-width: 690px;
}

.carousel-item img{
  max-height: 690px;
  max-width: 690px;
}

.carousel {
  max-height: 690px;
  max-width: 690px;
}

.presentation-card {
  border: 12px solid grey;
  // position: sticky
  text-align: center;
  height: 100%;
  top:10px;
}

.post-card {
  width: 100%;
}

.footer-card {
  // border-top: 1px grey solid;
  color:grey;
  font-size: 14px;
}
