body {
  background-color: #F8F9FC;
}

.container{
 // background-color: white;
}

.carousel .item {
  max-height: 690px;
  max-width: 690px;
}

.carousel-item{
  max-height: 690px;
  max-width: 690px;
}

.carousel-item img{
  max-height: 690px;
  max-width: 690px;
}

.carousel {
  max-height: 690px;
  max-width: 690px;
}
